@font-face {
    font-family: Typewriter;
    src:url(Fonts/cmu.typewriter-text-regular.ttf);
}
@font-face {
    font-family: JannaLTBold;
    src:url(Fonts/Janna\ LT\ Bold.ttf);
}

h1, p, button{
    font-family: JannaLTBold;
}

html, body {margin: 1; overflow: hidden}
