@font-face {
    font-family: JannaLTRegular;
    src:url(JannaLTRegular.ttf);
}
@font-face {
    font-family: JannaLTBold;
    src:url(JannaLTBold.ttf);
}

h1, p, button{
    font-family: JannaLTBold;
}

html, body {margin: 1; overflow: hidden}

nav ul {
    margin: 0;
    padding: 0%;
    list-style: none;
}
nav li {
    display: inline-block;
    margin: 0 25px;
    padding-top: 50px;
    position: relative;
}
nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
}
